body {
	background-color: #e7e7e7;
}

section.whoami {
	display: flex;
	justify-content: space-around;
	margin: 110px 0 0 5vw;
	padding: 15px 100px;
	color: #090909;
}

div.infoAboutMe {
	width: 50%;
	margin: 20px 80px 0 0;
}

div.infoAboutMe h1.welcome {
	font-size: 34px;
	padding: 5px 35px;
}

div.infoAboutMe h2.basicInformations {
	font-size: 22px;
	font-weight: normal;
}

div.moreInfo p.more {
	font-size: 20px;
	text-align: center;
}

main.aboutMe {
	display: flex;
	position: relative;
	margin: 30px 0 50px;
	padding-top: 70px;
	background-color: rgb(136, 136, 136);
	overflow: hidden;
}

main.aboutMe::before {
	content: "";
	position: absolute;
	left: 11%;
	top: -100px;
	background-color: #e7e7e7;
	width: 18vw;
	box-shadow: 0px 0px 1px 1px black;
	height: 1300px;
}

section.whatWantToKnow {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 5px 70px;
	width: 40%;
	z-index: 1;
}

section.whatWantToKnow h1.choice {
	padding: 20px 0 10px;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
}

div.circle {
	position: relative;
	width: 14vw;
	height: 14vw;
	margin: 60px 0;
	border: 3px solid black;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}

div.circle p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 28px;
}

div.myRoad {
	background-color: #7d3434;
}

div.mySkills {
	background-color: #1a5b84;
}

div.circle:hover {
	transform: scale(1.1);
}

div.myRoad:hover {
	box-shadow: 0 0 50px 5px #7d3434;
}

div.mySkills:hover {
	box-shadow: 0 0 50px 5px #1a5b84;
}

section.myRoad {
	background-color: #7d3434;
	margin: 0 15px 0 0;
	padding: 20px 5px;
	width: 60%;
	border-radius: 10px;
}

section.myRoad h2.road {
	/* padding: 0px 0 10px; */
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

div.text {
	margin: 15px;
	padding: 10px;
	font-size: 24px;
}

div.text:nth-child(even) {
	color: rgb(184, 168, 168);
}

div.text:nth-child(odd) {
	color: #0f1010;
}
