body {
	background-color: #e7e7e7;
	color: #090909;
}

section.whoami {
	display: flex;
	justify-content: space-around;
	margin: 110px 0 0 5vw;
	padding: 15px 100px;
}

div.infoAboutMe {
	width: 50%;
	margin: 20px 80px 0 0;
}

div.infoAboutMe h1.welcome {
	font-size: 34px;
	padding: 5px 35px;
}

div.infoAboutMe h2.basicInformations {
	font-size: 22px;
	font-weight: normal;
}

div.moreInfo p.more {
	font-size: 20px;
	text-align: center;
}

main.aboutMe {
	display: flex;
	position: relative;
	margin: 30px 0 50px;
	background-color: #7d3434;
	overflow: hidden;
	transition: 1s;
}

main.aboutMe::before {
	content: "";
	position: absolute;
	left: 8%;
	top: -100px;
	background-color: #e7e7e7;
	width: 24vw;
	box-shadow: 0px 0px 1px 1px black;
	height: 1300px;
}

section.whatWantToKnow {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 5px 70px;
	width: 40%;
	z-index: 1;
}

section.whatWantToKnow h1.choice {
	padding: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
	background-color: #e7e7e7;
}

div.circle {
	position: relative;
	width: 16vw;
	height: 16vw;
	margin: 60px 0;
	border: 3px solid black;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}

div.circle.focus {
	transform: scale(1.1);
	color: rgb(184, 168, 168);
	box-shadow: 0 0 50px 5px black;
	letter-spacing: 3px;
	transition: 0.5s;
}

div.circle p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: 28px;
	text-align: center;
	transition: 0.5s;
}

div.circle.focus p {
	font-size: 40px;
	transition: 0.5s;
}

div.myRoad {
	background-color: #7d3434;
}

div.mySkills {
	background-color: #1a5b84;
}

div.myRoad:hover {
	box-shadow: 0 0 50px 5px #7d3434;
}

div.mySkills:hover {
	box-shadow: 0 0 50px 5px #1a5b84;
}

section.area {
	position: relative;
	width: 60%;
}

.wrapperRoad,
.wrapperSkills {
	position: absolute;
	top: 0;
	transition: 1s ease-out;
}

.wrapperRoad {
	left: 0;
}

.wrapperSkills {
	left: 150%;
}

section.area h2.title {
	margin: 35px 0 0;
	font-size: 44px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

div.text {
	margin: 15px;
	padding: 10px;
	font-size: 24px;
}

div.text:nth-child(even) {
	color: rgb(184, 168, 168);
}

div.text:nth-child(odd) {
	color: #0f1010;
}
