* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

nav.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #202731;
  padding: 10px 0;
  z-index: 3;
  transition: 0.3s;
}

nav.menu.smallerMenu {
  padding: 0;
  transition: 0.3s;
}

nav.menu ul.list {
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
  list-style: none;
}

nav.menu ul.list li.item {
  padding: 5px;
}

nav.menu ul.list li.item a {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #bcbcbc;
  letter-spacing: 1px;
}

nav.menu ul.list li.item a:hover {
  color: rgb(228, 228, 228);
  transition: 0.3s;
}

nav.menu ul.list li.item a:after {
  content: "";
  position: absolute;
  width: 90%;
  height: 3px;
  background-color: rgb(228, 228, 228);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s linear;
}

nav.menu ul.list li.item a:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

section.aboutMe {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 90px 0 130px;
  background-color: #e7e7e7;
}

div.hello {
  margin-top: 50px;
  z-index: 2;
  width: 45%;
}

div.hello h1.welcome {
  font-size: 30px;
  margin: 30px 0 10px 4vw;
  letter-spacing: 2px;
}

div.hello p.info {
  font-size: 18px;
  text-align: center;
}

section.aboutMe div.moreInfo {
  align-self: end;
}

h2.github {
  padding: 35px 0 20px;
  text-align: center;
}

h2.github a {
  color: #dd3f31;
  text-decoration: none;
  transition: 0.2s;
}

h2.github a:hover {
  color: black;
  letter-spacing: 2px;
}

div.moreInfo p.more {
  font-size: 20px;
}

button.readMore {
  position: relative;
  display: block;
  margin: 15px auto;
  padding: 15px 25px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

button.readMore:hover {
  color: white;
}

button.readMore::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0;
  z-index: -1;
  background: #202731;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.3s;
}

div.moreInfo button.readMore:hover::before {
  height: 280%;
}

div.curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}

div.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: rgb(125, 52, 52);
  transform: translate(85%, 60%);
}

div.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #e7e7e7;
  transform: translate(-4%, 40%);
}

div.bestProject {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: auto auto 120px;
  padding: 100px 0 80px;
  background-color: rgb(125, 52, 52);
  color: #090909;
}

div.bestProject h2.shortInfo--best {
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 30px 10px 50px;
  text-align: center;
  font-size: 34px;
}

h2.shortInfo--best a {
  color: #dd3f31;
  text-decoration: none;
  text-shadow: 1px 2px 12px #000;
  transition: 0.2s;
}

h2.shortInfo--best a:hover {
  color: black;
  text-shadow: 0 0 0 #000;
  letter-spacing: 2px;
}

div.bestProject div.slider {
  display: flex;
  justify-content: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 2/4;
}

div.slider i.fa-arrow-left,
i.fa-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 8px;
  font-size: 32px;
  cursor: pointer;
  z-index: 2;
}

div.slider i.fa-arrow-left {
  left: 8%;
}

div.slider i.fa-arrow-right {
  right: 8%;
}

div.bestProject img.imgOfProject--best {
  position: relative;
  width: 90%;
  border: 3px solid black;
  border-radius: 5px;
}

div.bestProject p.numberOfPhotos {
  position: absolute;
  bottom: 5%;
  right: 8%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

div.bestProject div.shortDescription {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 400px 0px 200px rgb(28, 27, 27);
}

div.shortDescription p {
  width: 80%;
  font-size: 22px;
  color: #1a1b1d;
  padding: 5px;
}

div.shortDescription p:nth-child(odd) {
  color: rgb(225, 188, 188);
}

div.bestProject div.moreInfo {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 80%;
  margin-top: 30px;
  text-align: center;
}

div.projectWrapper {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  isolation: isolate;
  margin: 20px 0;
  padding: 100px 0px;
}

div.projectWrapper::after {
  content: "";
  background-color: #104350;
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(-1deg);
}

div.project {
  width: 45%;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  background-color: #175261;
}

div.project h2.shortInfo {
  padding-bottom: 40px;
  font-size: 30px;
  text-align: center;
}

div.project img {
  display: block;
  width: 90%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 30px;
}

footer.contact {
  padding: 60px;
  background-color: #171515;
  color: #bcbcbc;
}

footer.contact p {
  padding: 10px;
  text-align: center;
}

footer.contact p.contact {
  font-size: 32px;
}

footer.contact p.github {
  font-size: 20px;
}

footer.contact p.github a {
  color: #dd3f31;
  text-decoration: none;
  font-size: 22px;
  transition: 0.2s;
}

footer.contact p.github a:hover {
  letter-spacing: 2px;
}

footer.contact p.email {
  font-size: 20px;
}
